<div class="row">
    <div class=" col m6 offset-m3">
        <div class="card-panel">
            <h3>Log in</h3>
            <form method="post" ng-submit="login()" name="loginForm">
                <div class="">
                    <input class="input-field" type="text" name="username" ng-model="user.username"
                           placeholder="Username" required autofocus>
                </div>
                <div class="">
                    <input class="input-field" type="password" name="password" ng-model="user.password"
                           placeholder="Password" required>
                </div>
                <button class="btn amber login-btn" type="submit" ng-disabled="loginForm.$invalid">Log in
                </button>
                <br/>


            </form>
            <a class="btn white text-black google-sign-in-btn" ng-click="authenticate('google')">
                Sign in with Google
            </a>
            <p>Don't have an account yet? <a ui-sref="signup">Sign up</a></p>
        </div>
    </div>
</div>
