/* Prevent components from flickering */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.no-animate * {
  -webkit-transition: none !important;
  transition: none !important;
}

.black-text-nav a {
  color: #212121;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #ffc107;
  box-shadow: 0 1px 0 0 #ffc107;
}

.password-strength-indicator {
  padding-right: 10px;
}

.password-strength-indicator span {
  width: 5px;
  height: 5px;
  margin-bottom: 2px;
  background: #ebeef1;
  border-radius: 5px;
}

.google-sign-in-btn {
  margin-top: 10px;
  color: #9F9F9F;
  background: url(../images/google-icon.png) no-repeat 18px center;
  background-size: 18px;
  padding-left: 46px;
  width: 100%;
}

.login-signup-btn {
  width: 100%;
}

.no-account-text {
  border-left: 5px solid #ffc107;
}
